:host {
  margin-top: 26px;
  font-size: 11px;
}

.divider {
  height: 44px;
  margin-bottom: -18px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 3px, transparent);
  z-index: 0;
  zoom: 1;

  &::after {
    display: block;
    width: 100%;
    height: 44px;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
    z-index: 1;
    content: "";
  }
}

menu {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0 0 10px 0;
}

a {
  padding: 0 2px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #c45500;
  }
}

.copyright {
  color: #555;
}
