<div *ngIf="item" class="item-container">
  <img alt="product image" class="item-image" src="{{item.image}}">
  <div>
    <h2 class="item-title">{{item.title}}</h2>
    <div [ngSwitch]="item.rating" class="item-rating">
      <div *ngSwitchCase="5">⭐⭐⭐⭐⭐</div>
      <div *ngSwitchCase="4">⭐⭐⭐⭐</div>
      <div *ngSwitchCase="3">⭐⭐⭐</div>
      <div *ngSwitchCase="2">⭐⭐</div>
      <div *ngSwitchCase="1">⭐</div>
    </div>
    <div class="item-price">Price: <span>{{item.price | currency:'USD'}}</span></div>
    <div class="item-stock">In Stock: <span>{{item.qty - inCart}}</span></div>
    <div *ngIf="inCart === item.qty" class="out-of-stock">Out of Stock</div>
    Add to Cart
    <div class="input-group mb-3 add-to-cart-ctrl">
      <button (click)="updateCart(false)" [disabled]="inCart == 0" class="btn btn-outline-secondary" type="button">-
      </button>
      <input [(ngModel)]="inCart" [disabled]="true" class="form-control" type="text">
      <button (click)="updateCart(true)" [disabled]="inCart === item.qty" class="btn btn-outline-secondary"
              type="button">
        +
      </button>
    </div>
  </div>
</div>
<div *ngIf="item" [innerHTML]="item.description ?? 'No Description'" class="item-description"></div>
